<div class="lang-switcher">
  <button onclick="setLanguage('en')">Eng</button>
  <button onclick="setLanguage('yue')">粵</button>
</div>

<header>
  <div class="header-content">
    <img src="assets/CALA-logo-sq.png" alt="HKCALA Logo" id="logo" />
    <h1>
      <span class="lang-yue">香港粵語應用語言學學會</span>
      <span class="lang-en"
        >Hong Kong Cantonese Applied Linguistics Association</span
      >
      <small>(HKCALA)</small>
    </h1>
  </div>
  <nav>
    <ul>
      <li>
        <a href="index.html"
          ><span class="lang-yue">首頁</span
          ><span class="lang-en">Home</span></a
        >
      </li>
      <li>
        <a href="about.html"
          ><span class="lang-yue">學會簡介</span
          ><span class="lang-en">About Us</span></a
        >
      </li>
      <li>
        <a href="crat.html"
          ><span class="lang-yue">粵音朗讀測試 (CRAT)</span
          ><span class="lang-en">Cantonese Read-aloud Test (CRAT)</span></a
        >
      </li>
      <li>
        <a href="cope.html"
          ><span class="lang-yue">粵語口語水平試 (COPE)</span
          ><span class="lang-en"
            >Cantonese Oral Proficiency Exam (COPE)</span
          ></a
        >
      </li>
    </ul>
  </nav>
</header>