---
import Layout from '../../layouts/Layout.astro';
import People from '../../components/People.astro';
---

<Layout title="About Us">
  <section class="px-6">
    <h1 class="text-3xl my-8 text-primary">
      About the Association
    </h1>
    <article class="">
      <h2 class="my-4 text-xl text-secondary">
        Our Mission
      </h2>
      <p class="my-4">
        We apply Cantonese linguistics and sociolinguistics to enhance the effectiveness, efficiency and efficacy of Cantonese. By leveraging technology, we are currently focusing on Cantonese codification and Cantonese proficiency tests.
      </p>
    </article>
    <article>
      <h2 class="text-xl text-secondary">
        Academic Advisory Committee Members
      </h2>
      <div class="my-4 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
        <People name="CHENG Siu Kei, Ken">
          Principal Lecturer, Chinese Language Centre, The Hong Kong Polytechnic University
        </People>
        <People name="CHEUNG Kwan Hin">
          Retired Associate Professor, Department of Chinese and Bilingual Studies, The Hong Kong Polytechnic University
        </People>
        <People name="CHUNG Lung Shan, Peter">
          Former Chief Translation Officer, the Legislative Council of Hong Kong SAR
        </People>
        <People name="HUI Pui Shan, Fiona">
          Clinical Assistant Professor, Department of Social and Cultural Analysis, New York University
        </People>
        <People name="LAI Yik Po">
          Senior Lecturer, School of Education and Languages, Hong Kong Metropolitan University
        </People>
        <People name="LAM Hoi Yung, Vienna">
          Former Lecturer, Language Centre, Hong Kong Baptist University
        </People>
        <People name="LAU Chaak Ming">
          Assistant Professor, Department of Linguistics and Modern Language Studies, The Education University of Hong Kong
        </People>
        <People name="LAU Mingfei">
          Founder, Cantonese Computational Linguistics Infrastructure Development Workgroup
        </People>
        <People name="LAU Wan Yee, Cindy">
          Lecturer, Division of Languages and Communication, The Hong Kong Polytechnic University
        </People>
        <People name="LUN Suen, Caesar">
          Associate Professor, Department of Linguistics and Translation, The City University of Hong Kong
        </People>
        <People name="PAI Raymond">
          Lecturer, Cantonese Language Program, The University of British Columbia
        </People>
        <People name="TAM Wing Yu, Hugo">
          Research Assistant Professor, Department of Chinese Language Studies, The Education University of Hong Kong
        </People>
        <People name="YU Leung Tsun">
          Editor, Words.hk
        </People>
        <People name="YU Shing">
          PhD candidate, School of Chinese, The University of Hong Kong
        </People>
      </div>
    </article>
  </section>
</Layout>