---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="COPE">
  <section class="px-6">
    <h2 class="text-2xl my-8 text-primary font-bold">
      Cantonese Oral Proficiency Exam (COPE)
    </h2>

    <article class="mb-10">
      <p class="mb-5">
        The Cantonese Oral Proficiency Examination (COPE) is an assessment
        initiative modeled on the Common European Framework of Reference for
        Languages (CEFR). COPE is designed to assess the spoken Cantonese
        proficiency of learners at the beginner to intermediate levels
        (corresponding to CEFR levels A1, A2, and B1).
      </p>
      <p class="mb-5">
        The test does not require prior knowledge of English, Mandarin, or
        Chinese characters. The examination emphasizes cultural neutrality in
        its content design and evaluates candidates through one-on-one oral
        interactions with an examiner, focusing on a variety of task-based
        activities to assess interactive communication skills. This examination
        aims to address the sociolinguistic needs of Cantonese learners
        worldwide and to provide a recognized certification of spoken Cantonese
        proficiency.
      </p>
    </article>

    <article>
      <h3 class="mb-4 text-xl text-secondary font-semibold">
        Examiner Training Workshop
      </h3>
      <div class="flex flex-col md:flex-row gap-4">
        <img
          src="/assets/cope-workshop.jpg"
          alt="COPE Workshop"
          class="md:w-[45%] rounded-lg"
        />
        <img
          src="/assets/cope-workshop-intro.jpg"
          alt="COPE Workshop Intro"
          class="md:w-[45%] rounded-lg"
        />
      </div>
    </article>
  </section>
</Layout>
