---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="CRAT">
  <section class="px-6">
    <h2 class="text-2xl my-8 text-primary font-bold">
      Cantonese Read-aloud Test (CRAT)
    </h2>

    <article class="mb-10">
      <h3 class="mb-4 text-xl text-secondary font-semibold">Latest Updates</h3>
      <div class="flex-grow">
        <p>
          Sign up link for the 1st test of 2025:
          <a
            href="https://gccuny.az1.qualtrics.com/jfe/form/SV_3sfoXH232SAZ7V4"
            class="text-link hover:text-link-hover hover:underline break-all"
            target="_blank"
          >
            https://gccuny.az1.qualtrics.com/jfe/form/SV_3sfoXH232SAZ7V4
          </a>. Deadline is August 16, 2025. Test fee is HK$500, non-refundable.
        </p>
      </div>
      <img
        src="/assets/crat202501.jpg"
        class="rounded-lg inline-block max-w-xl my-2"
        alt="CRAT 202501 海報"
      />
    </article>

    <article class="mb-10">
      <h3 class="mb-4 text-xl text-secondary font-semibold">
        Test Introduction
      </h3>
      <p class="mb-5">
        Cantonese is the daily language of 95% of Hong Kong’s population and a
        crucial tool for integrating into Hong Kong society. Beyond everyday
        conversation, Cantonese is also used in more formal registers (such as
        news broadcasting). Proficient Cantonese speakers in Hong Kong are
        expected to read traditional Chinese characters accurately in Cantonese,
        meeting the requirements of various linguistic registers.
      </p>
      <p class="mb-5">
        However, there are currently no relevant tests to assess and certify
        one’s Cantonese reading-aloud proficiency. The Cantonese Read-Aloud Test
        (CRAT) has been developed to address this issue and to provide
        certification for individuals in need.
      </p>
    </article>

    <article class="mb-10">
      <h4 class="text-lg text-text-light font-semibold mb-2">
        Target Audience
      </h4>
      <p class="mb-5">
        The test welcomes all individuals seeking certification in Cantonese
        reading proficiency, including but not limited to those working in
        education, media, and related fields, as well as native Cantonese
        speakers or Cantonese learners who wish to evaluate their reading-aloud
        skills.
      </p>

      <h4 class="text-lg text-text-light font-semibold mb-2">Test Scope</h4>
      <p class="mb-5">
        The test assesses candidates’ Cantonese reading-aloud abilities in three
        areas: (1) fluency, (2) accent purity, and (3) accuracy. The test
        consists of three parts that require candidates to read: characters
        (Part A), polysyllabic lexical items (Part B), and passages (Part C).
        Details of the test syllabus are provided on this page.
      </p>

      <h4 class="text-lg text-text-light font-semibold mb-2">Test Procedure</h4>
      <p class="mb-5">
        The test is divided into three parts: Part A – Characters; Part B –
        Polysyllabic lexical items; Part C – Passages.
      </p>
      <p class="mb-5">
        Before the test begins, candidates will be given 4 minutes to prepare
        during which the test personnel will display two passages of Part C,
        presented in Chinese characters alongside their Jyutping romanisation.
        Each passage may be previewed for 2 minutes. When the preparation time
        is up, the test will begin immediately. Candidates will first read their
        candidate number and name aloud and the test personnel will then present
        the papers for Parts A, B, and C in sequence. Candidates must start
        reading the displayed content immediately upon seeing each paper
        (reading the item numbers or passage titles is not required).
      </p>
      <p class="mb-5">
        Each part has a time limit, and recordings exceeding the limit will not
        be graded. The time limits are set as follows: Part A: 2 minutes; Part
        B: 2 minutes; Part C (Written Cantonese): 2 minutes 30 seconds; Part C
        (Hong Kong Chinese): 2 minutes 30 seconds. Throughout the test, all
        instructions from the test personnel will be delivered in Cantonese.
      </p>
    </article>

    <article
      class="border border-border-color border-l-4 border-primary rounded-md bg-slate-50 mb-6 shadow-sm p-4"
    >
      <h3 class="mb-3 text-xl text-primary font-semibold">
        Test Preparation Materials
      </h3>
      <p class="mb-5">(Available in Chinese only)</p>
      <ul class="list-none p-0">
        <li class="my-2">
          <a
            href="/assets/jjs_rubric_corr.pdf"
            target="_blank"
            class="inline-flex items-center gap-2 text-link font-semibold hover:text-link-hover hover:underline"
            ><span class="text-xl">📄</span> Marking Scheme</a>
        </li>
        <li class="my-2">
          <a
            href="/assets/jjs_briefing_revised_revised.pdf"
            target="_blank"
            class="inline-flex items-center gap-2 text-link font-semibold hover:text-link-hover hover:underline"
            ><span class="text-xl">📄</span> Important Notes</a>
        </li>
        <li class="my-2">
          <a
            href="/assets/jjs_briefing_revised_revised.pdf"
            target="_blank"
            class="inline-flex items-center gap-2 text-link font-semibold hover:text-link-hover hover:underline"
            ><span class="text-xl">📄</span> Candidate Guide (Online/Physical Test)</a>
        </li>
        <li class="my-2">
          <a
            href="/assets/CRAT_Appendix1.pdf"
            target="_blank"
            class="inline-flex items-center gap-2 text-link font-semibold hover:text-link-hover hover:underline"
            ><span class="text-xl">📄</span> Appendix 1 (Character List)</a>
        </li>
        <li class="my-2">
          <a
            href="/assets/CRAT_Appendix2_bystroke_1.3.pdf"
            target="_blank"
            class="inline-flex items-center gap-2 text-link font-semibold hover:text-link-hover hover:underline"
            ><span class="text-xl">📄</span> Appendix 2 (Polysyllabic Lexical Items
            List)</a>
        </li>
        <li class="my-2">
          <a
            href="/assets/CRAT_Appendix3_20220908.pdf"
            target="_blank"
            class="inline-flex items-center gap-2 text-link font-semibold hover:text-link-hover hover:underline"
            ><span class="text-xl">📄</span> Appendix 3 (Hong Kong Chinese Passage
            List)</a>
        </li>
        <li class="my-2">
          <a
            href="/assets/CRAT_Appendix4_20220908.pdf"
            target="_blank"
            class="inline-flex items-center gap-2 text-link font-semibold hover:text-link-hover hover:underline"
            ><span class="text-xl">📄</span> Appendix 4 (Written Cantonese Passage
            List)</a>
        </li>
        <li class="my-2">
          <a
            href="/assets/crat_part_a_b_sample.pdf"
            target="_blank"
            class="inline-flex items-center gap-2 text-link font-semibold hover:text-link-hover hover:underline"
            ><span class="text-xl">📄</span> Sample Questions (Part A, B)</a>
        </li>
        <li class="my-2">
          <a
            href="/assets/crat_part_c_sample.pdf"
            target="_blank"
            class="inline-flex items-center gap-2 text-link font-semibold hover:text-link-hover hover:underline"
            ><span class="text-xl">📄</span> Sample Questions (Part C)</a>
        </li>
      </ul>
    </article>
  </section>
</Layout>
