---
import Layout from '../layouts/Layout.astro';
import People from '../components/People.astro';
---

<Layout title="學會簡介">
  <section class="px-6">
    <h1 class="text-3xl my-8 text-primary">
      學會簡介
    </h1>
    <article class="">
      <h2 class="my-4 text-xl text-secondary">
        成立宗旨
      </h2>
      <p class="my-4">
        應用粵語語言學同社會語言學去提升粵語嘅效益、效率同效能。借助科技，我哋目前着力編訂粵語字詞嘅形、音、義標準，並開發同定期舉辦粵語測試。
      </p>
    </article>
    <article>
      <h2 class="my-4 text-xl text-secondary">
        學術委員會成員名單
      </h2>
      <div class="my-4 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
        <People name="鄭紹基">
          香港理工大學中國語文教學中心首席講師
        </People>
        <People name="張群顯">
          香港理工大學中文及雙語學系退休副教授
        </People>
        <People name="鍾龍山">
          香港特別行政區立法會前總翻譯主任
        </People>
        <People name="許佩珊">
          紐約大學社會及文化系助理教授
        </People>
        <People name="黎奕葆">
          香港都會大學教育及語文學院高級講師
        </People>
        <People name="林海容">
          香港浸會大學語文中心前講師
        </People>
        <People name="劉擇明">
          香港教育大學語言學及現代語言系助理教授
        </People>
        <People name="劉銘霏">
          粵語計算語言學基礎建設組創辦人
        </People>
        <People name="劉藴怡">
          香港理工大學語文及傳意學部講師
        </People>
        <People name="藺蓀">
          香港城市大學翻譯及語言學系副教授
        </People>
        <People name="白文杰">
          英屬哥倫比亞大學粵語課程講師
        </People>
        <People name="譚詠瑜">
          香港教育大學中國語言學系研究助理教授
        </People>
        <People name="余良浚">
          粵典資深編輯
        </People>
        <People name="尤盛">
          香港大學中文學院博士生
        </People>
      </div>
    </article>
  </section>
</Layout>