---
import Layout from '../layouts/Layout.astro';
---

<Layout title="粵語口語水平試 (COPE)">
  <section class="mx-6">
    <h2 class="text-3xl my-8 text-primary font-bold">
      粵語口語水平試 (COPE)
    </h2>

    <article class="mb-10">
      <p class="mb-5">
        <em>粵語口語水平試（Cantonese Oral Proficiency Examination, 簡稱 COPE）</em>參照歐洲共同語言參考標準（Common European Framework of Reference for Language，簡稱CEFR），着重測試初級至中級學習者嘅粵語口語能力（相等於CEFR A1、A2 同 B1 級）。
      </p>
      <p class="mb-5">
        考生無需具備英語或標準漢語能力，亦無需認識漢字。考試內容設計考慮到文化中立性，考官同考生以一對一形式的口頭交流，以各種任務嚟評估考生互動式溝通技能。本試旨在滿足全球粵語學習者嘅社會語言需求，並提供其粵語口語能力嘅認證。
      </p>
    </article>

    <article>
      <h3 class="mb-4 text-xl text-secondary font-semibold">
        考官培訓工作坊
      </h3>
      <div class="flex flex-col md:flex-row gap-4">
        <img
          src="/assets/cope-workshop.jpg"
          alt="COPE 考官培訓工作坊"
          class="w-full md:w-[45%] rounded-lg mb-4 md:mb-0"
        />
        <img
          src="/assets/cope-workshop-intro.jpg"
          alt="COPE 考官培訓工作坊簡介"
          class="w-full md:w-[45%] rounded-lg"
        />
      </div>
    </article>
  </section>
</Layout>