---
import Layout from "../layouts/Layout.astro";
---

<Layout title="粵音朗讀測試 (CRAT)">
  <section class="px-6">
    <h1 class="text-3xl my-8 text-primary font-bold">粵音朗讀測試 (CRAT)</h1>

    <article class="mb-10">
      <h2 class="my-4 text-2xl text-secondary font-semibold">最新消息</h2>
      <p>
        <span>
          撳此連結或掃描下面二維碼報名：
          <a
            href="https://gccuny.az1.qualtrics.com/jfe/form/SV_3sfoXH232SAZ7V4"
            target="_blank"
            class="text-link hover:underline break-all"
          >
            https://gccuny.az1.qualtrics.com/jfe/form/SV_3sfoXH232SAZ7V4
          </a>
          ，截止日期為 2025 年 8 月 16 日。測試費用 $500 港幣，不設退款。本屆考試僅提供網上 Zoom 應考，冇現場考試。名額有限，額滿即止。
        </span>
      </p>
      <img
        src="/assets/crat202501.jpg"
        class="rounded-lg inline-block max-w-xl my-2"
        alt="CRAT 202501 海報"
      />
    </article>

    <article class="mb-10">
      <h3 class="my-4 text-2xl text-secondary font-semibold">測試介紹</h3>
      <p class="mb-5">
        粵語係香港95%人口日常使用嘅語言。要融入香港社會，必須掌握粵語。除日常口語外，粵語亦適用於較正式嘅語體（例如新聞廣播）。香港嘅高階粵語使用者，應能使用粵語準確讀出繁體中文字，以應付各種語體所需。
      </p>
      <p class="mb-5">
        現時坊間並無相關測試可檢定測試者嘅粵音朗讀水平，<em
          >粵音朗讀測試（Cantonese Read-aloud Test，簡稱CRAT）</em
        >正係為咗填補呢個空缺，為有需要人士提供水平認證。
      </p>
    </article>

    <article class="mb-10">
      <h4 class="text-lg text-text-light mb-2">對象</h4>
      <p class="mb-5">
        歡迎所有希望取得相關認證嘅人士參加，包括但不限於從事教育、傳媒等行業嘅人士，或有意了解自己粵音朗讀水平嘅母語人士或粵語學習者。
      </p>

      <h4 class="text-lg text-text-light mb-2">測試範圍</h4>
      <p class="mb-5">
        本朗讀試測試評核考生使用香港粵語朗讀嘅 ⑴ 流暢度、⑵ 口音純度，以及 ⑶
        準確度。測試分三個部份，分別要求考生朗讀單字（甲部）、多音節詞彙（乙部）同篇章（丙部）。
        考試範圍已載於本頁。
      </p>

      <h4 class="text-lg text-text-light mb-2">測試流程</h4>
      <p class="mb-5">
        測試分為三部份：甲部為單字；乙部為多音節詞彙；丙部為篇章。
      </p>
      <p class="mb-5">
        測試開始前，考生會有4分鐘時間準備。工作人員將依次展示丙部嘅兩道試題，試題上印有篇章嘅漢字同相應粵拼。每道試題限時閱讀2分鐘。準備時間結束後，測試隨即開始。首先，考生朗讀考生編號、姓名。其後，工作人員會依次展示甲、乙、丙三部份嘅試題；考生見到試題後，即開始朗讀試題（毋須朗讀題號及標題）。
      </p>
      <p class="mb-5">
        各部份嘅朗讀均設時間上限，超出時限嘅錄音將不作評分。時限如下：甲部2分鐘；
        乙部2分鐘；丙部〔粵文〕2分30秒；丙部〔香港中文〕2分30秒。喺整個測試過程中，工作人員嘅口頭指示均使用粵語。
      </p>
    </article>

    <article
      class="border border-primary border-l-4 rounded-md bg-slate-50 mb-6 shadow-sm p-4"
    >
      <h3 class="mb-3 text-xl text-primary font-semibold">考試準備材料</h3>
      <p class="mb-5">(僅提供中文版)</p>
      <ul class="list-none p-0">
        <li class="my-2">
          <a
            href="/assets/jjs_rubric_corr.pdf"
            target="_blank"
            class="inline-flex items-center gap-2 text-link hover:text-link-hover hover:underline"
            ><span class="text-xl">📄</span> 評分準則</a
          >
        </li>
        <li class="my-2">
          <a
            href="/assets/jjs_briefing_revised_revised.pdf"
            target="_blank"
            class="inline-flex items-center gap-2 text-link hover:text-link-hover hover:underline"
            ><span class="text-xl">📄</span> 注意事項</a
          >
        </li>
        <li class="my-2">
          <a
            href="/assets/jjs_briefing_revised_revised.pdf"
            target="_blank"
            class="inline-flex items-center gap-2 text-link hover:text-link-hover hover:underline"
            ><span class="text-xl">📄</span> 考生指引 (網上/實體測試)</a
          >
        </li>
        <li class="my-2">
          <a
            href="/assets/CRAT_Appendix1.pdf"
            target="_blank"
            class="inline-flex items-center gap-2 text-link hover:text-link-hover hover:underline"
            ><span class="text-xl">📄</span> 附錄一 (字表)</a
          >
        </li>
        <li class="my-2">
          <a
            href="/assets/CRAT_Appendix2_bystroke_1.3.pdf"
            target="_blank"
            class="inline-flex items-center gap-2 text-link hover:text-link-hover hover:underline"
            ><span class="text-xl">📄</span> 附錄二 (多音節詞彙表)</a
          >
        </li>
        <li class="my-2">
          <a
            href="/assets/CRAT_Appendix3_20220908.pdf"
            target="_blank"
            class="inline-flex items-center gap-2 text-link hover:text-link-hover hover:underline"
            ><span class="text-xl">📄</span> 附錄三 (香港中文篇章)</a
          >
        </li>
        <li class="my-2">
          <a
            href="/assets/CRAT_Appendix4_20220908.pdf"
            target="_blank"
            class="inline-flex items-center gap-2 text-link hover:text-link-hover hover:underline"
            ><span class="text-xl">📄</span> 附錄四 (粵文篇章)</a
          >
        </li>
        <li class="my-2">
          <a
            href="/assets/crat_part_a_b_sample.pdf"
            target="_blank"
            class="inline-flex items-center gap-2 text-link hover:text-link-hover hover:underline"
            ><span class="text-xl">📄</span> 試題樣本 (甲、乙部)</a
          >
        </li>
        <li class="my-2">
          <a
            href="/assets/crat_part_c_sample.pdf"
            target="_blank"
            class="inline-flex items-center gap-2 text-link hover:text-link-hover hover:underline"
            ><span class="text-xl">📄</span> 試題樣本 (丙部)</a
          >
        </li>
      </ul>
    </article>
  </section>
</Layout>
