<footer class="text-center py-8 text-white bg-text-dumb border-primary">
  <p class="">
    &copy; {new Date().getFullYear()}
    <span class="lang-yue">香港粵語應用語言學學會</span>
    <span class="lang-en">Hong Kong Cantonese Applied Linguistics Association</span>
    (HKCALA)
  </p>
  <p class="">
    <span class="lang-yue">電郵︰</span><span class="lang-en">Email:</span>
    <a href="mailto:info@cala.hk" class="text-white underline hover:text-white">info@cala.hk</a>
  </p>
</footer>

<style>
  /* This will be handled by a client-side script */
  .lang-en {
    display: none;
  }
</style>